# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
# You can also override PATH, but by default, newer versions inherit it from the environment
#PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
0  */1	* * *	nbsci	rm -rf /tmp/last_ci && mkdir /tmp/last_ci && cd /tmp/last_ci && /root/runner/run_all.sh
0  6	* * *	root	/root/runner/run_fio.sh
0  10	* * *	root	/root/runner/run_degradation_test.sh
0  9	* * *	root	/root/runner/run_corruption.sh
0  12	* * *	root	/root/runner/run_nfs_fio.sh
0  15	* * *	root	/root/runner/run_nfs_corruption.sh
0  9	* * *	root	/root/runner/run_check_emptiness.sh
0  10	* * *	root	/root/runner/run_nfs_coreutils.sh
0  4	* * *	root	/root/runner/run_disk_manager_acceptance_small.sh
0  5	* * *	root	/root/runner/run_disk_manager_acceptance_medium.sh
0  6	* * *	root	/root/runner/run_disk_manager_acceptance_enormous.sh
0  8	* * *	root	/root/runner/run_disk_manager_eternal_8_gib.sh
0  9	* * *	root	/root/runner/run_disk_manager_eternal_256_gib.sh
0  10	* * *	root	/root/runner/run_disk_manager_eternal_8_tib.sh
0  12	* * *	root	/root/runner/run_disk_manager_sync_test.sh

*/1 *	* * *	root	/root/runner/generate_index.py /root/runner/index.xsl
#
