build_arcadia_test/yc-nfs-ci-build-arcadia-test
client/cloud-filestore-tests-client
fio_index_migration/qemu-intrahost-migration-kikimr-nemesis-test/qemu-intrahost-migration-kikimr-nemesis-test
fio_index_migration/qemu-intrahost-migration-kikimr-test/qemu-intrahost-migration-kikimr-test
fio_index_migration/qemu-intrahost-migration-local-test/qemu-intrahost-migration-local-test
fio_index/mount-kikimr-test/cloud-filestore-tests-fio_index-mount-kikimr-test
fio_index/mount-local-test/cloud-filestore-tests-fio_index-mount-local-test
fio_index/qemu-kikimr-nemesis-test/tests-fio_index-qemu-kikimr-nemesis-test
fio_index/qemu-kikimr-test/cloud-filestore-tests-fio_index-qemu-kikimr-test
fio_index/qemu-local-test/cloud-filestore-tests-fio_index-qemu-local-test
fio_migration/qemu-intrahost-migration-kikimr-nemesis-test/qemu-intrahost-migration-kikimr-nemesis-test
fio_migration/qemu-intrahost-migration-kikimr-test/qemu-intrahost-migration-kikimr-test
fio_migration/qemu-intrahost-migration-local-test/qemu-intrahost-migration-local-test
fio/mount-kikimr-test/cloud-filestore-tests-fio-mount-kikimr-test
fio/mount-local-test/cloud-filestore-tests-fio-mount-local-test
fio/qemu-kikimr-nemesis-test/filestore-tests-fio-qemu-kikimr-nemesis-test
fio/qemu-kikimr-test/cloud-filestore-tests-fio-qemu-kikimr-test
fio/qemu-local-test/cloud-filestore-tests-fio-qemu-local-test
fs_posix_compliance/mount-kikimr-test/fs_posix_compliance-mount-kikimr-test
fs_posix_compliance/mount-local-test/fs_posix_compliance-mount-local-test
fs_posix_compliance/qemu-kikimr-nemesis-test/qemu-kikimr-nemesis-test
fs_posix_compliance/qemu-kikimr-test/fs_posix_compliance-qemu-kikimr-test
fs_posix_compliance/qemu-local-test/tests-fs_posix_compliance-qemu-local-test
loadtest/local-auth/cloud-filestore-tests-loadtest-local-auth
loadtest/service-kikimr-nemesis-test/loadtest-service-kikimr-nemesis-test
loadtest/service-kikimr-test/filestore-tests-loadtest-service-kikimr-test
loadtest/service-local-test/cloud-filestore-tests-loadtest-service-local-test
profile_log/qemu-kikimr-test/filestore-tests-profile_log-qemu-kikimr-test
profile_log/qemu-local-test/cloud-filestore-tests-profile_log-qemu-local-test
recipes/mount/mount-recipe
recipes/service-kikimr/service-kikimr-recipe
recipes/service-local/service-local-recipe
recipes/vhost-endpoint/vhost-endpoint-recipe
recipes/vhost/vhost-recipe
service/service-kikimr-test/cloud-filestore-tests-service-service-kikimr-test
service/service-local-test/cloud-filestore-tests-service-service-local-test
service/service-vhost-test/cloud-filestore-tests-service-service-vhost-test
xfs_suite/tests/cloud-filestore-tests-xfs_suite-tests
xfs_suite/yc-nfs-ci-xfs-test-suite
