core/libs/aio/ut/cloud-storage-core-libs-aio-ut
core/libs/auth/ut/cloud-storage-core-libs-auth-ut
core/libs/common/bench/compressed_bitmap/compressed_bitmap
core/libs/common/ut/cloud-storage-core-libs-common-ut
core/libs/coroutine/ut/cloud-storage-core-libs-coroutine-ut
core/libs/diagnostics/ut/cloud-storage-core-libs-diagnostics-ut
core/libs/grpc/ut/cloud-storage-core-libs-grpc-ut
core/libs/hive_proxy/ut/cloud-storage-core-libs-hive_proxy-ut
core/libs/keyring/ut/bin/cloud-storage-core-libs-keyring-ut-bin
core/libs/keyring/ut/cloud-storage-core-libs-keyring-ut
core/libs/tablet/model/ut/cloud-storage-core-libs-tablet-model-ut
core/libs/tablet/ut/cloud-storage-core-libs-tablet-ut
core/libs/throttling/ut/cloud-storage-core-libs-throttling-ut
core/libs/version/ut/cloud-storage-core-libs-version-ut
core/tests/recipes/qemu/qemu-recipe
core/tests/recipes/virtiofs-server/virtiofs-server-recipe
core/tools/ops/config_generator/config_generator
core/tools/ops/config_generator/gotest/gotest
core/tools/testing/access_service/mock/accessservice-mock
core/tools/testing/fio/bin/cloud
core/tools/testing/fio/bin/fio
core/tools/testing/qemu/bin/cloud
core/tools/testing/qemu/bin/qemu-bin.tar.gz
core/tools/testing/qemu/image/cloud
core/tools/testing/qemu/image/rootfs.img
core/tools/testing/unstable-process/storage-unstable-process
core/tools/testing/virtiofs_server/bin/cloud
core/tools/testing/virtiofs_server/bin/virtiofs-server
