analytics/block-data-dump/block-data-dump
analytics/calculate-perf-settings/blockstore-calculate-perf-settings
analytics/compaction-sim/blockstore-compaction-sim
analytics/dump-event-log/blockstore-dump-event-log
analytics/event-log-disk-usage/blockstore-event-log-disk-usage
analytics/event-log-stats/blockstore-event-log-stats
analytics/event-log-stats/tests/tools-analytics-event-log-stats-tests
analytics/event-log-suffer/blockstore-event-log-suffer
analytics/find-block-accesses/blockstore-find-block-accesses
analytics/visualize-event-log/blockstore-visualize-event-log
analytics/visualize-trace/blockstore-visualize-trace
ci/check_emptiness_test/tests/blockstore-tools-ci-check_emptiness_test-tests
ci/check_emptiness_test/yc-nbs-ci-check-nrd-disk-emptiness-test
ci/checkpoint_validation_test/tests/ci-checkpoint_validation_test-tests
ci/checkpoint_validation_test/yc-nbs-ci-checkpoint-validation-test
ci/corruption_test_suite/tests/tools-ci-corruption_test_suite-tests
ci/corruption_test_suite/yc-nbs-ci-corruption-test-suite
ci/fio_performance_test_suite/tests/ci-fio_performance_test_suite-tests
ci/fio_performance_test_suite/yc-nbs-ci-fio-performance-test-suite
ci/migration_test/tests/cloud-blockstore-tools-ci-migration_test-tests
ci/migration_test/yc-nbs-ci-migration-test
ci/relocation_test/tests/cloud-blockstore-tools-ci-relocation_test-tests
ci/relocation_test/yc-nbs-ci-relocation-test
cms/config/blockstore-config
cms/patcher/blockstore-patcher
cms/patcher/tests/cloud-blockstore-tools-cms-patcher-tests
csi_driver/client
debug/featureconfig/blockstore-debug-featureconfig
debug/formatter/blockstore-debug-formatter
debug/readbdev/blockstore-readbdev
disaster_recovery/merge_path_description_backups/merge_path_description_backups
fs/cleanup-ext4-meta/cleanup-ext4-meta
fs/cleanup-ext4-meta/ut/cloud-blockstore-tools-fs-cleanup-ext4-meta-ut
fs/cleanup-fs/cleanup-fs
fs/cleanup-xfs/cleanup-xfs
fs/cleanup-xfs/ut/cloud-blockstore-tools-fs-cleanup-xfs-ut
fs/copy_dev/copy_dev
fs/detect-raid/detect-raid
fs/dump_disk_info/dump_disk_info
fs/gen_used_blocks_map/gen_used_blocks_map
fs/gen_used_blocks_map/tests/blockstore-tools-fs-gen_used_blocks_map-tests
fs/setup_fs_mask/setup_fs_mask
http_proxy/blockstore-http-proxy
http_proxy/tests/cloud-blockstore-tools-http_proxy-tests
http_proxy/ut/blockstore-http-proxy
nbd/blockstore-nbd
testing/build-fresh-blob/build-fresh-blob
testing/chaos-monkey/chaos-monkey
testing/chaos-monkey/tests/tests
testing/csi-sanity/bin/cloud
testing/csi-sanity/bin/csi-sanity
testing/disk-registry-state-generator/disk-registry-state-generator
testing/eternal_tests/checkpoint-validator/bin/checkpoint-validator
testing/eternal_tests/checkpoint-validator/lib/ut/lib-ut
testing/eternal_tests/eternal-load/bin/eternal-load
testing/eternal_tests/eternal-load/bin/tests/eternal-load-bin-tests
testing/eternal_tests/range-validator/range-validator
testing/eternal_tests/test_runner/tests/eternal_tests-test_runner-tests
testing/eternal_tests/test_runner/yc-nbs-run-eternal-load-tests
testing/fake-conductor/blockstore-fake-conductor
testing/fake-nbs/blockstore-fake-nbs
testing/fake-root-kms/fake-root-kms
testing/fake-vhost-server/fake-vhost-server
testing/generate-agents/generate-agents
testing/infra-client/blockstore-infra-client
testing/loadtest/bin/blockstore-loadtest
testing/loadtest/lib/ut/cloud-blockstore-tools-testing-loadtest-lib-ut
testing/nbd-test/nbd-test
testing/notify-mock/notify-mock
testing/pd-metadata-bench/bin/pd-metadata-bench
testing/plugintest/blockstore-plugintest
testing/rdma-test/rdma-test
testing/stable-plugin/yandex-cloud-blockstore-plugin_*.deb
testing/verify-test/verify-test
