[submodule "contrib/libbacktrace"]
	path = contrib/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
[submodule "contrib/aws-sdk-cpp"]
	path = contrib/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
[submodule "contrib/FlameGraph"]
	path = contrib/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pocoproject/poco.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = https://github.com/google/benchmark.git
[submodule "contrib/llvm-project"]
	path = contrib/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "contrib/liburing"]
	path = contrib/liburing
	url = https://github.com/axboe/liburing.git
[submodule "contrib/librseq"]
	path = contrib/librseq
	url = https://github.com/compudj/librseq.git
[submodule "contrib/libbpf"]
	path = contrib/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "contrib/bpftool"]
	path = contrib/bpftool
	url = https://github.com/libbpf/bpftool.git
