Tests {
    LoadTest {
        Name: "smoke"
        KeepFileStore: true
        CreateFileStoreRequest: {
            FileSystemId: "${FS}"
            FolderId: "folder"
            CloudId: "cloud"
            BlocksCount: 10241024
            BlockSize: 4096
        }
        ReplayFsSpec {
             FileName: "${WORK_DIR}/filestore-server-profile-log.txt"
             ReplayRoot: "${REPLAY_ROOT}"
        }
        IODepth: 2147483647
    }
}
