apiVersion: v1
kind: Pod
metadata:
  name: my-pod-blk
spec:
  containers:
   - name: pause
     image: ubuntu:latest
     command:
       - sleep
       - "3600"
     volumeDevices:
       - name: my-pvc
         devicePath: /dev/xvda
  volumes:
   - name: my-pvc
     persistentVolumeClaim:
       claimName: my-pvc-blk
       readOnly: false