apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-pvc-fs
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
    limits:
      storage: 1Gi
  storageClassName: csi-nbs