client/bench/blockstore-client-bench
client/ut_throttling/cloud-blockstore-libs-client-ut_throttling
client/ut/cloud-blockstore-libs-client-ut
common/benchmark/benchmark
common/ut/cloud-blockstore-libs-common-ut
daemon/ydb/ut/cloud-blockstore-libs-daemon-ydb-ut
diagnostics/ut/cloud-blockstore-libs-diagnostics-ut
discovery/ut/cloud-blockstore-libs-discovery-ut
disk_agent/ut/cloud-blockstore-libs-disk_agent-ut
encryption/ut_keyring/bin/cloud-blockstore-libs-encryption-ut_keyring-bin
encryption/ut_keyring/cloud-blockstore-libs-encryption-ut_keyring
encryption/ut/cloud-blockstore-libs-encryption-ut
endpoints_grpc/ut/cloud-blockstore-libs-endpoints_grpc-ut
endpoints_vhost/ut/cloud-blockstore-libs-endpoints_vhost-ut
endpoints/ut/cloud-blockstore-libs-endpoints-ut
kms/iface/ut/cloud-blockstore-libs-kms-iface-ut
kms/impl/example/kms-example
logbroker/iface/ut/cloud-blockstore-libs-logbroker-iface-ut
logbroker/topic_api_impl/ut/cloud-blockstore-libs-logbroker-topic_api_impl-ut
nbd/bench/blockstore-nbd-bench
nbd/ut/cloud-blockstore-libs-nbd-ut
notify/ut/cloud-blockstore-libs-notify-ut
rdma/iface/ut/cloud-blockstore-libs-rdma-iface-ut
rdma/impl/ut/cloud-blockstore-libs-rdma-impl-ut
server/ut/cloud-blockstore-libs-server-ut
service_kikimr/ut/cloud-blockstore-libs-service_kikimr-ut
service_local/ut_large/cloud-blockstore-libs-service_local-ut_large
service_local/ut/cloud-blockstore-libs-service_local-ut
service_throttling/ut_logger/blockstore-libs-service_throttling-ut_logger
service_throttling/ut_metrics/blockstore-libs-service_throttling-ut_metrics
service_throttling/ut_policy/blockstore-libs-service_throttling-ut_policy
service_throttling/ut/cloud-blockstore-libs-service_throttling-ut
service/ut/cloud-blockstore-libs-service-ut
storage/bootstrapper/ut/cloud-blockstore-libs-storage-bootstrapper-ut
storage/core/ut/cloud-blockstore-libs-storage-core-ut
storage/disk_agent/benchmark/benchmark
storage/disk_agent/model/ut/cloud-blockstore-libs-storage-disk_agent-model-ut
storage/disk_agent/ut_actor/cloud-blockstore-libs-storage-disk_agent-ut_actor
storage/disk_agent/ut_large/cloud-blockstore-libs-storage-disk_agent-ut_large
storage/disk_agent/ut/cloud-blockstore-libs-storage-disk_agent-ut
storage/disk_registry_proxy/ut/blockstore-libs-storage-disk_registry_proxy-ut
storage/disk_registry/actors/ut/libs-storage-disk_registry-actors-ut
storage/disk_registry/benchmark/benchmark
storage/disk_registry/model/ut/blockstore-libs-storage-disk_registry-model-ut
storage/disk_registry/ut_allocation/libs-storage-disk_registry-ut_allocation
storage/disk_registry/ut_checkpoint/libs-storage-disk_registry-ut_checkpoint
storage/disk_registry/ut_cms/blockstore-libs-storage-disk_registry-ut_cms
storage/disk_registry/ut_config/libs-storage-disk_registry-ut_config
storage/disk_registry/ut_create/libs-storage-disk_registry-ut_create
storage/disk_registry/ut_lifecycle/libs-storage-disk_registry-ut_lifecycle
storage/disk_registry/ut_migration/libs-storage-disk_registry-ut_migration
storage/disk_registry/ut_mirrored_disk_migration/ut_mirrored_disk_migration
storage/disk_registry/ut_notify/libs-storage-disk_registry-ut_notify
storage/disk_registry/ut_pools/blockstore-libs-storage-disk_registry-ut_pools
storage/disk_registry/ut_restore/libs-storage-disk_registry-ut_restore
storage/disk_registry/ut_session/libs-storage-disk_registry-ut_session
storage/disk_registry/ut_suspend/libs-storage-disk_registry-ut_suspend
storage/disk_registry/ut_wait_device/storage-disk_registry-ut_wait_device
storage/disk_registry/ut/cloud-blockstore-libs-storage-disk_registry-ut
storage/model/ut/cloud-blockstore-libs-storage-model-ut
storage/partition_common/ut/cloud-blockstore-libs-storage-partition_common-ut
storage/partition_nonrepl/model/ut/libs-storage-partition_nonrepl-model-ut
storage/partition_nonrepl/ut/blockstore-libs-storage-partition_nonrepl-ut
storage/partition/model/ut/cloud-blockstore-libs-storage-partition-model-ut
storage/partition/ut/cloud-blockstore-libs-storage-partition-ut
storage/partition2/model/ut/cloud-blockstore-libs-storage-partition2-model-ut
storage/partition2/ut/cloud-blockstore-libs-storage-partition2-ut
storage/perf/cloud-blockstore-libs-storage-perf
storage/service/model/ut/cloud-blockstore-libs-storage-service-model-ut
storage/service/ut/cloud-blockstore-libs-storage-service-ut
storage/ss_proxy/ut/cloud-blockstore-libs-storage-ss_proxy-ut
storage/stats_service/ut/cloud-blockstore-libs-storage-stats_service-ut
storage/undelivered/ut/cloud-blockstore-libs-storage-undelivered-ut
storage/volume_balancer/ut/cloud-blockstore-libs-storage-volume_balancer-ut
storage/volume_proxy/ut/cloud-blockstore-libs-storage-volume_proxy-ut
storage/volume/actors/ut/cloud-blockstore-libs-storage-volume-actors-ut
storage/volume/model/ut/cloud-blockstore-libs-storage-volume-model-ut
storage/volume/ut_linked/cloud-blockstore-libs-storage-volume-ut_linked
storage/volume/ut/cloud-blockstore-libs-storage-volume-ut
throttling/ut/cloud-blockstore-libs-throttling-ut
validation/ut/cloud-blockstore-libs-validation-ut
vhost/ut_stress/cloud-blockstore-libs-vhost-ut_stress
vhost/ut/cloud-blockstore-libs-vhost-ut
ydbstats/ut/cloud-blockstore-libs-ydbstats-ut
