name: Build and test proxy

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
      allow_split_workload:
        required: false
        type: boolean
        default: true
      build_target:
        required: true
        type: string
      test_target:
        required: true
        type: string
      build_preset:
        required: true
        type: string
      test_size:
        required: true
        type: string
      test_type:
        required: true
        type: string
      vm_preset:
        required: false
        type: string
        default: ""
      vm_name_suffix:
        required: false
        type: string
        default: ""
      cache_update_build:
        required: true
        type: boolean
      cache_update_tests:
        required: true
        type: boolean
      number_of_retries:
        required: true
        type: number
      sleep_after_tests:
        required: true
        type: string

jobs:
  plan:
    name: Plan split workload
    runs-on: [ self-hosted, "self-hosted", "runner_light" ]
    outputs:
      matrix_include: ${{ steps.build-matrix-include.outputs.matrix_include }}
    steps:
      - name: checkout PR
        uses: actions/checkout@v4
        if: github.event.pull_request.head.sha != ''
        with:
          submodules: false
          sparse-checkout: '.github'
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: ${{ !contains(github.event.pull_request.labels.*.name, 'rebase') && 1 || 0 }}
      - name: rebase PR
        if: ${{ github.event.pull_request.head.sha != '' && contains(github.event.pull_request.labels.*.name, 'rebase') }}
        shell: bash
        run: |
          git config user.email "robot-nbs@nebius.com"
          git config user.name "Robot NBS"
          git fetch origin ${{ github.event.pull_request.base.ref }}
          git rebase origin/${{ github.event.pull_request.base.ref }}
      - name: checkout
        uses: actions/checkout@v4
        if: github.event.pull_request.head.sha == ''
        with:
          submodules: false
          sparse-checkout: '.github'

      - name: Build matrix_include
        id: build-matrix-include
        uses: ./.github/actions/nebius_split_workload
        env:
          BUILD_TARGET: ${{ inputs.build_target }}
          TEST_TARGET:  ${{ inputs.test_target }}
          BUILD_PRESET: ${{ inputs.build_preset }}
          TEST_TYPE: ${{ inputs.test_type }}
          NUMBER_OF_RETRIES: ${{ inputs.number_of_retries }}
          NEBIUS_SPLIT_RUNNERS: ${{ inputs.allow_split_workload && vars.NEBIUS_SPLIT_RUNNERS == 'true' && 'true' || 'false' }}
          NEBIUS_SPLIT_RUNNERS_ASAN: ${{ inputs.allow_split_workload && vars.NEBIUS_SPLIT_RUNNERS_ASAN == 'true' && 'true' || 'false' }}
          NEBIUS_SPLIT_RUNNERS_TSAN: ${{ inputs.allow_split_workload && vars.NEBIUS_SPLIT_RUNNERS_TSAN == 'true' && 'true' || 'false' }}
          NEBIUS_SPLIT_RUNNERS_MSAN: ${{ inputs.allow_split_workload && vars.NEBIUS_SPLIT_RUNNERS_MSAN == 'true' && 'true' || 'false' }}
          NEBIUS_SPLIT_RUNNERS_UBSAN: ${{ inputs.allow_split_workload && vars.NEBIUS_SPLIT_RUNNERS_UBSAN == 'true' && 'true' || 'false' }}
 
  on_demand:
    if: ${{ inputs.mode == 'on_demand' }}
    uses: ./.github/workflows/on_demand_build_and_test.yaml
    name: On-demand build and test
    needs: plan
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.plan.outputs.matrix_include) }}
    with:
      component: ${{ matrix.component == 'all' && '' || matrix.component }}
      build_target: ${{ matrix.build_target }}
      test_target:  ${{ matrix.test_target }}
      build_preset: ${{ matrix.build_preset }}
      test_size:    ${{ inputs.test_size }}
      test_type:    ${{ matrix.test_type }}
      vm_preset:    ${{ inputs.vm_preset != '' && inputs.vm_preset || ( inputs.allow_split_workload == false && vars.POOLED_HEAVY_VM_PRESET_SPLIT || vars.POOLED_HEAVY_VM_PRESET ) }}
      vm_name_suffix: "${{ inputs.vm_name_suffix }}${{ matrix.vm_name_suffix }}"
      cache_update_build: ${{ inputs.cache_update_build }}
      cache_update_tests: ${{ inputs.cache_update_tests }}
      number_of_retries: ${{ matrix.number_of_retries }}
      sleep_after_tests: ${{ inputs.sleep_after_tests }}
    secrets: inherit

  pooled:
    if: ${{ inputs.mode == 'pooled' }}
    uses: ./.github/workflows/on_pooled_build_and_test.yaml
    name: Pooled build and test
    needs: plan
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.plan.outputs.matrix_include) }}
    with:
      component: ${{ matrix.component == 'all' && '' || matrix.component }}
      build_target: ${{ matrix.build_target }}
      test_target:  ${{ matrix.test_target }}
      build_preset: ${{ matrix.build_preset }}
      test_size:    ${{ inputs.test_size }}
      test_type:    ${{ matrix.test_type }}
      vm_name_suffix: "${{ inputs.vm_name_suffix }}${{ matrix.vm_name_suffix }}"
      cache_update_build: ${{ inputs.cache_update_build }}
      cache_update_tests: ${{ inputs.cache_update_tests }}
      number_of_retries: ${{ matrix.number_of_retries }}
      sleep_after_tests: ${{ inputs.sleep_after_tests }}
    secrets: inherit

  hybrid:
    if: ${{ inputs.mode == 'hybrid' }}
    uses: ./.github/workflows/on_hybrid_build_and_test.yaml
    name: Hybrid build and test
    needs: plan
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.plan.outputs.matrix_include) }}
    with:
      component: ${{ matrix.component == 'all' && '' || matrix.component }}
      build_target: ${{ matrix.build_target }}
      test_target:  ${{ matrix.test_target }}
      build_preset: ${{ matrix.build_preset }}
      test_size:    ${{ inputs.test_size }}
      test_type:    ${{ matrix.test_type }}
      vm_preset:    ${{ inputs.vm_preset != '' && inputs.vm_preset || ( inputs.allow_split_workload == false && vars.POOLED_HEAVY_VM_PRESET_SPLIT || vars.POOLED_HEAVY_VM_PRESET ) }}
      vm_name_suffix: "${{ inputs.vm_name_suffix }}${{ matrix.vm_name_suffix }}"
      cache_update_build: ${{ inputs.cache_update_build }}
      cache_update_tests: ${{ inputs.cache_update_tests }}
      number_of_retries: ${{ matrix.number_of_retries }}
      sleep_after_tests: ${{ inputs.sleep_after_tests }}
    secrets: inherit
