name: NBS Github Actions script testing
on:
  workflow_dispatch:
  workflow_call:

jobs:
  index:
    name: Test GA scripts
    runs-on: [self-hosted, "self-hosted", "runner_light"]
    steps:
    - name: README
      run: |
        echo "This is a test of the GA scripts"
        cat <<EOF > README.md
        To update the test data, run the following commands:
        export TMP_DIR=$(mktemp -d)
        export GITHUB_WORKSPACE=$(pwd)
        export GITHUB_REPOSITORY="ydb-platform/nbs"

        mkdir -p $GITHUB_WORKSPACE/.github/scripts/tests/test-data/
        cd $GITHUB_WORKSPACE/.github/scripts/tests/test-data/ || exit
        wget "https://storage.eu-north1.nebius.cloud/github-actions-test-data/cloud-v${ACTIONS_TEST_DATA_VERSION}.tar.gz" -O cloud.tar.gz
        tar zxvf cloud.tar.gz

        python3 $GITHUB_WORKSPACE/.github/scripts/tests/transform-ya-junit.py \
          --output "$TMP_DIR/junit.xml" \
          -m "$GITHUB_WORKSPACE/.github/scripts/tests/test-data/muted_ya.txt" \
          --ya-out "$GITHUB_WORKSPACE/.github/scripts/tests/test-data/" \
          --log-url-prefix "LOG_URL_PREFIX" \
          --log-out-dir "$TMP_DIR" \
          "$GITHUB_WORKSPACE/.github/scripts/tests/test-data/junit.xml"

        python3 $GITHUB_WORKSPACE/.github/scripts/tests/generate-summary.py \
          --summary-out-path "$TMP_DIR" \
          --summary-out-env-path "$TMP_DIR/summary_env" \
          --summary-url-prefix "SUMMARY_URL_PREFIX" \
          --build-preset "linux-x64-relwithdebinfo" \
          --is-dry-run \
          "Tests" ya-test.html "$TMP_DIR/junit.xml"

        python3 $GITHUB_WORKSPACE/.github/scripts/tests/fail-checker.py "$TMP_DIR/junit.xml" --paths-only | sort | tee -a "$TMP_DIR/fail-checker"

        cd $TMP_DIR
        find . -type f -exec md5sum {} + | sort -k2,2 | tee ${GITHUB_WORKSPACE}/.github/scripts/tests/test-data/MD5SUMS
        cp $TMP_DIR/{fail-checker,summary_env,ya-test.html} ${GITHUB_WORKSPACE}/.github/scripts/tests/test-data/
        cd ${GITHUB_WORKSPACE}/.github/scripts/tests/test-data/
        export NEW_VERSION=$((ACTIONS_TEST_DATA_VERSION + 1))
        tar zcvf cloud-v${NEW_VERSION}.tar.gz cloud/ MD5SUMS fail-checker  junit.xml summary_env ya-test.html muted_ya.txt

        Upload resulting cloud-v${NEW_VERSION}.tar.gz to the storage.ai.nebius.cloud bucket github-actions-test-data
        Bump version in https://github.com/ydb-platform/nbs/settings/variables/actions
        EOF
        cat README.md
      env:
        ACTIONS_TEST_DATA_VERSION: ${{ vars.NEBIUS_ACTIONS_TEST_DATA_VERSION }}

    - name: Checkout PR
      uses: actions/checkout@v4
      if: github.event.pull_request.head.sha != ''
      with:
        submodules: false
        sparse-checkout: '.github'
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: ${{ !contains(github.event.pull_request.labels.*.name, 'rebase') && 1 || 0 }}
    - name: Rebase PR
      if: ${{ github.event.pull_request.head.sha != '' && contains(github.event.pull_request.labels.*.name, 'rebase') }}
      shell: bash
      run: |
        git config user.email "robot-nbs@nebius.com"
        git config user.name "Robot NBS"
        git fetch origin ${{ github.event.pull_request.base.ref }}
        git rebase origin/${{ github.event.pull_request.base.ref }}
    - name: Checkout
      uses: actions/checkout@v4
      if: github.event.pull_request.head.sha == ''
      with:
        submodules: false
        sparse-checkout: '.github'
    - name: Prepare VM
      uses: ./.github/actions/prepare
    - name: Prepare env
      shell: bash
      run: |
        echo "SHELLOPTS=$SHELLOPTS:xtrace" >> $GITHUB_ENV
        echo "TMP_DIR=$(mktemp -d)" >> $GITHUB_ENV
    - name: Prepare test data
      shell: bash
      run: |
        set -x
        mkdir -p $GITHUB_WORKSPACE/.github/scripts/tests/test-data/
        cd $GITHUB_WORKSPACE/.github/scripts/tests/test-data/ || exit
        wget "https://storage.eu-north1.nebius.cloud/github-actions-test-data/cloud-v${ACTIONS_TEST_DATA_VERSION}.tar.gz" -O cloud.tar.gz
        tar zxvf cloud.tar.gz
      env:
        ACTIONS_TEST_DATA_VERSION: ${{ vars.NEBIUS_ACTIONS_TEST_DATA_VERSION }}
    - name: Launch transform-ya-junit.py
      shell: bash
      run: |
        set -x
        echo "::group::transform-junit"
        python3 .github/scripts/tests/transform-ya-junit.py \
          --output "$TMP_DIR/junit.xml" \
          -m .github/scripts/tests/test-data/muted_ya.txt \
          --ya-out "$GITHUB_WORKSPACE/.github/scripts/tests/test-data/" \
          --log-url-prefix "LOG_URL_PREFIX" \
          --log-out-dir "$TMP_DIR" \
          ".github/scripts/tests/test-data/junit.xml"
        echo "::endgroup::"

    - name: Launch generate-summary.py
      shell: bash
      run: |
        set -x
        # you can't override GITHUB_* vars (except token) in step env
        export GITHUB_REPOSITORY="ydb-platform/nbs"
        echo "::group::generate-summary"
        python3 .github/scripts/tests/generate-summary.py \
          --summary-out-path "$TMP_DIR" \
          --summary-out-env-path "$TMP_DIR/summary_env" \
          --summary-url-prefix "SUMMARY_URL_PREFIX" \
          --build-preset "linux-x64-relwithdebinfo" \
          --is-dry-run \
          "Tests" ya-test.html "$TMP_DIR/junit.xml"
        echo "::endgroup::"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


    - name: Launch fail-checker.py
      shell: bash
      run: |
        set -x
        echo "::group::fail-checker"
        python3 .github/scripts/tests/fail-checker.py "$TMP_DIR/junit.xml" --paths-only | sort | tee -a "$TMP_DIR/fail-checker"
        echo "::endgroup::"
    - name: check md5
      shell: bash
      run: |
        echo "::group::check-md5"
        # find . -type f -exec md5sum {} + > ../test-data/MD5SUMS
        cp .github/scripts/tests/test-data/MD5SUMS $TMP_DIR/MD5SUMS
        cd $TMP_DIR || exit
        md5sum -c MD5SUMS | tee -a RESULT
        echo "::endgroup::"
    - name: additional info in case of failure
      if: failure()
      shell: bash
      run: |
        cd $TMP_DIR || exit
        grep FAILED RESULT | awk -F: '{print $1}' | while read -r f;
        do
          echo "=========="
          echo $f
          cat $f
          grep $f MD5SUMS
          md5sum $f
          if [ -f "${GITHUB_WORKSPACE}/.github/scripts/tests/test-data/${f}" ];
          then
            diff -u ${GITHUB_WORKSPACE}/.github/scripts/tests/test-data/${f} ${f}
          fi
          echo "=========="
        done

