name: Nightly build (msan)
run-name: |
  ${{ github.event_name == 'workflow_dispatch'
      && format('Nightly build (msan) (manual)')
      || format('Nightly build (msan) (schedule)')
    }}
on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  build_on_demand:
    name: Build/test x86_64 using YA (msan) (regular)
    if: ${{ vars.NEBIUS_SCHEDULING_TYPE == 'regular' || vars.NEBIUS_SCHEDULING_TYPE == '' }}
    uses: ./.github/workflows/on_demand_build_and_test.yaml
    secrets: inherit
    with:
      build_target: 'cloud/blockstore/apps/,cloud/filestore/apps/,cloud/storage/'
      test_target: 'cloud/blockstore/,cloud/filestore/,cloud/storage/'
      build_preset: release-msan
      test_type: "unittest,clang_tidy,gtest,py3test,py2test,pytest,flake8,black,py2_flake8,gofmt"
      cache_update_build: true
      cache_update_tests: true
      sleep_after_tests: 1
      number_of_retries: 1
  build_hybrid:
    name: Build/test x86_64 using YA (msan) (hybrid)
    if: ${{ vars.NEBIUS_SCHEDULING_TYPE == 'hybrid' }}
    uses: ./.github/workflows/on_hybrid_build_and_test.yaml
    secrets: inherit
    with:
      build_target: 'cloud/blockstore/apps/,cloud/filestore/apps/,cloud/storage/'
      test_target: 'cloud/blockstore/,cloud/filestore/,cloud/storage/'
      build_preset: release-msan
      test_type: "unittest,clang_tidy,gtest,py3test,py2test,pytest,flake8,black,py2_flake8,gofmt"
      cache_update_build: true
      cache_update_tests: true
      sleep_after_tests: 1
      number_of_retries: 1
  build_pooled:
    name: Build/test x86_64 using YA (msan) (pooled)
    if: ${{ vars.NEBIUS_SCHEDULING_TYPE == 'pooled' }}
    uses: ./.github/workflows/on_pooled_build_and_test.yaml
    secrets: inherit
    with:
      build_target: 'cloud/blockstore/apps/,cloud/filestore/apps/,cloud/storage/'
      test_target: 'cloud/blockstore/,cloud/filestore/,cloud/storage/'
      build_preset: release-msan
      test_type: "unittest,clang_tidy,gtest,py3test,py2test,pytest,flake8,black,py2_flake8,gofmt"
      cache_update_build: true
      cache_update_tests: true
      sleep_after_tests: 1
      number_of_retries: 1
