name: Nightly build (tsan)
run-name: |
  ${{ github.event_name == 'workflow_dispatch'
      && format('Nightly build (tsan) (manual)')
      || format('Nightly build (tsan) (schedule)')
    }}
on:
  schedule:
    - cron: "30 3 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Build/test x86_64 using YA (release-tsan) (dispatch)
    uses: ./.github/workflows/build_and_test_proxy.yaml
    secrets: inherit
    with:
      mode: ${{ vars.NEBIUS_SCHEDULING_TYPE }}
      allow_split_workload: false
      vm_preset: ${{ vars.POOLED_HEAVY_VM_PRESET_NIGHTLY }}
      build_target: 'cloud/blockstore/apps/,cloud/filestore/apps/,cloud/storage/'
      test_target: 'cloud/blockstore/,cloud/filestore/,cloud/storage/'
      test_type: "unittest,clang_tidy,gtest,py3test,py2test,pytest"
      test_size: small,medium,large
      build_preset: release-tsan
      cache_update_build: true
      cache_update_tests: true
      sleep_after_tests: 1
      number_of_retries: 1
