name: Nightly build (tsan)
run-name: |
  ${{ github.event_name == 'workflow_dispatch'
      && format('Nightly build (tsan) (manual)')
      || format('Nightly build (tsan) (schedule)')
    }}
on:
  schedule:
    - cron: "30 3 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Build/test x86_64 using YA (tsan)
    uses: ./.github/workflows/build_and_test_on_demand.yaml
    secrets: inherit
    with:
      build_target: 'cloud/blockstore/apps/,cloud/filestore/apps/,cloud/storage/'
      test_target: 'cloud/blockstore/,cloud/filestore/,cloud/storage/'
      build_preset: release-tsan
      test_type: "unittest,clang_tidy,gtest,py3test,py2test,pytest,flake8,black,py2_flake8,gofmt"
      cache_update_build: true
      cache_update_tests: false
      sleep_after_tests: 1
      test_threads: 32
      nebius: ${{ vars.GLOBAL_RUN_ON_NEBIUS }}
