name: Build VM Image
run-name: Build VM Image ${{ github.event.workflow_run.event }} update_image_id:${{ inputs.update_image_id }}
on:
  # schedule:
  #   - cron: "0 5 * * *"
  workflow_call:
    inputs:
      image_id:
        description: "Image id to use"
        required: false
        type: string
      update_image_id:
        description: "Update image id"
        required: false
        default: false
        type: boolean
      check_vm_creation:
        description: "Check VM creation"
        required: false
        default: false
        type: boolean
      update_pooled_image_ids:
        description: "Update pooled image ids"
        required: false
        default: false
        type: boolean
  workflow_dispatch:
    inputs:
      image_id:
        description: "Image id to use"
        required: false
        default: ""
        type: string
      update_image_id:
        description: "Update image id"
        required: false
        default: false
        type: boolean
      check_vm_creation:
        description: "Check VM creation"
        required: false
        default: false
        type: boolean
      update_pooled_image_ids:
        description: "Update pooled image ids"
        required: false
        default: false
        type: boolean


defaults:
  run:
    shell: bash --noprofile --norc -eo pipefail -x {0}

jobs:
  build:
    runs-on: [self-hosted, "self-hosted", "runner_light"]
    steps:
    - name: Checkout PR
      uses: actions/checkout@v4
      with:
        sparse-checkout: '.github'

    - name: install dependencies
      run: |
        pip install -r .github/scripts/requirements.txt
        echo "PATH=$PATH:$HOME/nebius-cloud/bin:$HOME/.nebius/bin" >> $GITHUB_ENV

    - name: set up nebius cli
      id: cli
      uses: ./.github/actions/nebius_cli
      with:
        sa_json: ${{ secrets.POOLED_LIGHT_SA_JSON }}
        region: ${{ vars.POOLED_LIGHT_REGION }}

    - name: Get latest image ID from Nebius
      id: get-image-id
      env: 
        IMAGE_ID: ${{ inputs.image_id }}
      run: |
        if [ -n "${IMAGE_ID}" ]; then
          if [[ "${IMAGE_ID}" != computeimage-* ]]; then
            echo "Provided image id is not valid: ${IMAGE_ID}"
            exit 1
          fi
          echo "IMAGE_ID_2204=${IMAGE_ID}" >> $GITHUB_OUTPUT
          echo "Using image id provided by inputs: ${IMAGE_ID}"
          exit 0
        fi
        IMAGE_ID=$(nebius compute image get-latest-by-family --image-family ubuntu22.04-nbs-github-ci --parent-id ${{ vars.POOLED_HEAVY_PARENT_ID }} --format json | jq -r .metadata.id)
        echo "IMAGE_ID_2204=$IMAGE_ID" >> $GITHUB_OUTPUT
    

    - name: Start runner
      id: start-runner
      if: (steps.get-image-id.outputs.IMAGE_ID_2204 != vars.NEBIUS_IMAGE_ID_2204 || steps.get-image-id.outputs.IMAGE_ID_2204 != vars.POOLED_LIGHT_IMAGE_ID_2204 || steps.get-image-id.outputs.IMAGE_ID_2204 != vars.POOLED_HEAVY_IMAGE_ID_2204)
      uses: ./.github/actions/nebius_runner_create
      timeout-minutes: 60
      with:
        org: ydb-platform
        team: nbs
        repo_owner: ${{ github.repository_owner }}
        repo: ${{ github.event.repository.name }}
        service_account_key: ${{ secrets.POOLED_HEAVY_SA_JSON }}
        token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
        vm_parent_id: ${{ vars.POOLED_HEAVY_PARENT_ID }}
        vm_name: ${{ format('packer-run-{0}-{1}', github.run_id, github.run_attempt) }}
        vm_platform_id: ${{ vars.POOLED_HEAVY_PLATFORM_ID }}
        vm_preset: "4vcpu-16gb"
        vm_disk_type: 'network-ssd-nonreplicated'
        vm_disk_size: 93
        vm_subnet: ${{ vars.POOLED_HEAVY_SUBNET_ID }}
        vm_image: ${{ steps.get-image-id.outputs.IMAGE_ID_2204 }}
        vm_labels: ${{ format('run={0}-{1},repo={2},owner={3}', github.run_id, github.run_attempt, github.event.repository.name, github.repository_owner) }}
        vm_user_passwd: ${{ secrets.VM_USER_PASSWD }}

    - name: Stop runner
      uses: ./.github/actions/nebius_runner_remove
      if: always() && (steps.get-image-id.outputs.IMAGE_ID_2204 != vars.NEBIUS_IMAGE_ID_2204 || steps.get-image-id.outputs.IMAGE_ID_2204 != vars.POOLED_LIGHT_IMAGE_ID_2204 || steps.get-image-id.outputs.IMAGE_ID_2204 != vars.POOLED_HEAVY_IMAGE_ID_2204)
      timeout-minutes: 60
      with:
        service_account_key: ${{ secrets.POOLED_HEAVY_SA_JSON }}
        token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
        repo_owner: ${{ github.repository_owner }}
        repo: ${{ github.event.repository.name }}
        vm_parent_id: ${{ vars.POOLED_HEAVY_PARENT_ID }}
        vm_id: ${{ steps.start-runner.outputs.INSTANCE_ID }}

    - name: Set new image id
      if: inputs.update_pooled_image_ids == false
      run: |
        export PYTHONPATH=$PYTHONPATH:$GITHUB_WORKSPACE/.github
        python3 -m scripts.nebius_manage_images \
          --service-account-key sa.json \
          --new-image-id ${NEW_IMAGE_ID} \
          --image-variable-name NEBIUS_IMAGE_ID_2204 ${UPDATE_IMAGE_ID}
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
        NEW_IMAGE_ID: ${{ steps.get-image-id.outputs.IMAGE_ID_2204 }}
        UPDATE_IMAGE_ID: ${{ inputs.update_image_id && '--update-image-id' || '' }}

    - name: Set new pooled image id
      if: inputs.update_pooled_image_ids == true
      run: |
        export PYTHONPATH=$PYTHONPATH:$GITHUB_WORKSPACE/.github
        python3 -m scripts.nebius_manage_images \
          --service-account-key sa.json \
          --new-image-id ${NEW_IMAGE_ID} \
          --image-variable-name POOLED_LIGHT_IMAGE_ID_2204 ${UPDATE_IMAGE_ID}

        python3 -m scripts.nebius_manage_images \
          --service-account-key sa.json \
          --new-image-id ${NEW_IMAGE_ID} \
          --image-variable-name POOLED_HEAVY_IMAGE_ID_2204 ${UPDATE_IMAGE_ID}
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
        NEW_IMAGE_ID: ${{ steps.get-image-id.outputs.IMAGE_ID_2204 }}
        UPDATE_IMAGE_ID: ${{ inputs.update_image_id && '--update-image-id' || '' }}
