name: pre-commit

on:
  pull_request_target:
    branches:
      - 'main'
    paths-ignore:
      - 'ydb/docs/**'
      - '.github/**'
      - '!.github/config/**'
      - '!.github/workflows/pre-commit.yaml'
      - 'example/**'
      - 'doc/**'
      - '**.md'
    types:
      - 'opened'
      - 'synchronize'
      - 'reopened'
      - 'labeled'

jobs:
  pre-commit:
    runs-on: [ self-hosted, "self-hosted", "runner_light" ]
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        clean: true
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.1
      with:
        extra_args: --from "origin/main" --to "HEAD" --show-diff-on-failure
